
body {
  width: calc(50px * 2);
}

p {
  color: color(black tint(10%));
  background-color: color(#fffa alpha(100%));
}

@media (min-width: 10px) {
  p {
    color: color(black tint(10%));
    background-color: color(#fffa alpha(100%));
  }
}

h2 {
  font-variant-caps: all-small-caps;
}

input {
  background-color: #39fa;
}
